{{ template "header" . }}

<h1>Editar</h1>
<form method="post" action="/customers/update/{{ .customer.ID }}">
  <div class="mb-3">
    <label class="form-label">Nombres</label>
    <input name="first_name" class="form-control" value="{{ .customer.FirstName }}" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Apellidos</label>
    <input name="last_name" class="form-control" value="{{ .customer.LastName }}" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Nª de Documento</label>
    <input name="document_number" class="form-control" value="{{ .customer.DocumentNumber }}" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Correo Electrónico</label>
    <input name="email" class="form-control" value="{{ .customer.Email }}" required>
  </div>
  <button class="btn btn-primary">Guardar Cliente</button>
  <a class="btn btn-secondary" href="/customers">Cancelar</a>
</form>

{{ template "footer" . }}
